# Environment variables
.env

# Python virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc

# IDE/Editor specific
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info